body {
  font-family: 'Poppins', sans-serif;
  background: url('../assets/BgImage.jpg') no-repeat center center fixed; 
  background-size: cover; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
  overflow-x: hidden;
}
  
  .welcome-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    color: #0072ff;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    color: #333;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  select {
    font-size: 14px;
  }
  
  .submit-button {
    padding: 12px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056d6;
  }
  